<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyra.mail.product.mapper.PmsAttrAttrgroupRelationMapper">

    <delete id="deleteAttrRelationList" parameterType="list">
        DELETE FROM pms_attr_attrgroup_relation
        <where>
            <foreach collection="attrAttrgroupRelations" item="attrRelation" separator="OR">
                (attr_group_id  = #{attrRelation.attrGroupId} AND  attr_id  = #{attrRelation.attrId})
            </foreach>
        </where>
    </delete>
</mapper>
